@model TabloidMVC.Models.PostTag

@{
    ViewData["Title"] = "ViewTagsToAdd";
}

<h1>ViewTagsToAdd</h1>

<p>
    <a asp-action="ViewTagsToAdd">Create New</a>
</p>>
            
<form asp-action="ViewTagsToAdd">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" class="form-control" />
    <select class="custom-select" multiple="multiple" asp-for="TagIds">
        @foreach (Tag item in Model.Tags)
        {
            <option value="@(item.Id)">@Html.DisplayFor(modelItem => item.Name)</option>
        };
    </select>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
                
